@font-face {
  font-family: "iconfont"; /* Project id 3485575 */
  src: url('iconfont.woff2?t=1656243570138') format('woff2'),
       url('iconfont.woff?t=1656243570138') format('woff'),
       url('iconfont.ttf?t=1656243570138') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huanfu:before {
  content: "\e620";
}

.icon-huanfu1:before {
  content: "\e622";
}

